In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
senate = pd.read_pickle("nysenate_master_new")

In [3]:
senate.sample()
# senate[senate['topic_desc']=='criminal law'].groupby(by='adopted')['basePrintNoStr'].count()

,_id,activeVersion,adopted,approvalMessage,basePrintNo,basePrintNoStr,printNo,publishedDateTime,session_x,signed,...,replacedBy,num_amendments,previousVersion,sponsor_chamber,sponsor_district,sponsor_fullName,sponsor_shortName,max_topic,topic_desc,month
105278,5b1c197a5a67a40cd3496c3f,,False,None,A10517,A10517-2015,A10517,2016-05-31 14:57:52,2015,False,...,not_replaced,1,no_previousVersion,ASSEMBLY,129.0,William Magnarelli,MAGNARELLI,8,health care,5

#### Sponsor Dataframes

In [4]:
sponsors = senate.groupby(by=[
    'sponsor_fullName', 'sponsor_district', 'sponsor_chamber', 'adopted',
    'year', 'topic_desc'
])['basePrintNoStr'].count().reset_index()

In [5]:
sponsors.sample(10)

,sponsor_fullName,sponsor_district,sponsor_chamber,adopted,year,topic_desc,basePrintNoStr
24930,Robin Schimminger,140.0,ASSEMBLY,False,2012,highways,1
27790,Thomas Croci,3.0,SENATE,True,2015,high school athletics honors,1
28714,Tom O'Mara,137.0,ASSEMBLY,False,2009,education,1
10183,Grace Meng,22.0,ASSEMBLY,False,2009,child services,2
10887,Herman D. Farrell,71.0,ASSEMBLY,False,2011,public commissions,1
21488,Mickey Kearns,145.0,ASSEMBLY,False,2012,public commissions,1
14493,Joseph A. Griffo,47.0,SENATE,False,2013,motor vehicles,3
7092,David Townsend,115.0,ASSEMBLY,True,2010,honoring resolutions,5
15646,José M. Serrano,29.0,SENATE,False,2013,taxes,1
4293,Carrie Woerner,113.0,ASSEMBLY,False,2015,businesses/employees,1

In [6]:
# for topic in sponsors.topic_desc.values:
#     sponsors_filtered_adopted = sponsors[(sponsors['topic_desc']==topic)&(sponsors['adopted']==True)].head(5)
#     sponsors_filtered_not_adopted = sponsors[(sponsors['topic_desc']==topic)&(sponsors['adopted']==False)].head(5)
    
#     print(f"For topic: {topic}")
#     print(f"Top 5: Sponsors for Adopted Laws:")
#     sponsors_filtered_adopted
#     print("*"*50)

In [7]:
sponsors_filtered_adopted = sponsors[(sponsors['topic_desc']=='education')&(sponsors['adopted']==True)].sort_values(by=['basePrintNoStr'],ascending=False).head(5)
sponsors_filtered_not_adopted = sponsors[(sponsors['topic_desc']=='education')&(sponsors['adopted']==False)].sort_values(by=['basePrintNoStr'],ascending=False).head(5)

sponsors_filtered_adopted.rename({"basePrintNoStr":'bills'},axis=1,inplace=True)
sponsors_filtered_not_adopted.rename({"basePrintNoStr":'bills'},axis=1,inplace=True)

sponsors_filtered_adopted
# sponsors_filtered_not_adopted

,sponsor_fullName,sponsor_district,sponsor_chamber,adopted,year,topic_desc,bills
28159,Thomas P. Morahan,38.0,SENATE,True,2009,education,8
14636,Joseph A. Griffo,47.0,SENATE,True,2018,education,7
24387,Robert Castelli,89.0,ASSEMBLY,True,2011,education,7
7330,Dean G. Skelos,9.0,SENATE,True,2011,education,7
7347,Dean G. Skelos,9.0,SENATE,True,2013,education,7

#### Topic Coverage by Year

In [8]:
senate.sample()

,_id,activeVersion,adopted,approvalMessage,basePrintNo,basePrintNoStr,printNo,publishedDateTime,session_x,signed,...,replacedBy,num_amendments,previousVersion,sponsor_chamber,sponsor_district,sponsor_fullName,sponsor_shortName,max_topic,topic_desc,month
31413,5b1c140e5a67a40cd3484bb6,,False,None,A1390,A1390-2011,A1390,2011-01-07 14:49:10,2011,False,...,not_replaced,1,A7626-2009,ASSEMBLY,51.0,Felix Ortiz,ORTIZ,39,animals,1

In [47]:
import datetime as dt

def year_mt(row):
    mt = row['month']
    if mt == 12:
        row['axes_yr'] = row['year']
    else:
        row['axes_yr'] = ''
    return row

def combo_yrmonth(row):
    row['month_year'] = dt.date(year=row['year'],month=row['month'],day=1)
    return row

In [48]:
list(monthly_topics.columns)

['year', 'month', 'topic_desc', 'adopted', 'bills', 'month_year']

In [50]:
monthly_topics = senate.groupby(by=['year','month','topic_desc','adopted'])['basePrintNoStr'].count().reset_index().sort_values(by=['month','year','topic_desc'])
monthly_topics = monthly_topics.rename({"basePrintNoStr":'bills'},axis=1)
# monthly_topics['month_year']=''
monthly_topics = monthly_topics.apply(combo_yrmonth,axis=1)
monthly_topics[monthly_topics['topic_desc']=='child services']
# monthly_topics.dtypes

      year  month      topic_desc  adopted  bills  month_year
8     2009      1  child services    False    259  2009-01-01
402   2010      1  child services    False     26  2010-01-01
748   2011      1  child services    False    305  2011-01-01
749   2011      1  child services     True      1  2011-01-01
1085  2012      1  child services    False     43  2012-01-01
1086  2012      1  child services     True      1  2012-01-01
1351  2013      1  child services    False    360  2013-01-01
1693  2014      1  child services    False     39  2014-01-01
1694  2014      1  child services     True      1  2014-01-01
1964  2015      1  child services    False    393  2015-01-01
2304  2016      1  child services    False     29  2016-01-01
2585  2017      1  child services    False    397  2017-01-01
2958  2018      1  child services    False     51  2018-01-01
47    2009      2  child services    False    166  2009-02-01
440   2010      2  child services    False     17  2010-02-01
441   2010      2  child services     True      1  2010-02-01
790   2011      2  child services    False    120  2011-02-01
1120  2012      2  child services    False     17  2012-02-01
1121  2012      2  child services     True      1  2012-02-01
1393  2013      2  child services    False     97  2013-02-01
1733  2014      2  child services    False     22  2014-02-01
2003  2015      2  child services    False    129  2015-02-01
2004  2015      2  child services     True      1  2015-02-01
2342  2016      2  child services    False     34  2016-02-01
2626  2017      2  child services    False    146  2017-02-01
2995  2018      2  child services    False     20  2018-02-01
84    2009      3  child services    False     83  2009-03-01
85    2009      3  child services     True      6  2009-03-01
479   2010      3  child services    False     33  2010-03-01
480   2010      3  child services     True      2  2010-03-01
...    ...    ...             ...      ...    ...         ...
664   2010      8  child services    False      1  2010-08-01
996   2011      8  child services    False      2  2011-08-01
1594  2013      8  child services    False      3  2013-08-01
1927  2014      8  child services    False      2  2014-08-01
2200  2015      8  child services    False      1  2015-08-01
292   2009      9  child services    False      3  2009-09-01
293   2009      9  child services     True      1  2009-09-01
681   2010      9  child services    False      1  2010-09-01
1014  2011      9  child services    False      6  2011-09-01
1323  2012      9  child services    False      1  2012-09-01
1613  2013      9  child services    False      1  2013-09-01
2219  2015      9  child services    False      1  2015-09-01
2854  2017      9  child services    False      1  2017-09-01
321   2009     10  child services    False      4  2009-10-01
700   2010     10  child services    False      1  2010-10-01
1330  2012     10  child services    False      1  2012-10-01
1628  2013     10  child services    False      4  2013-10-01
1942  2014     10  child services    False      2  2014-10-01
2235  2015     10  child services    False      4  2015-10-01
2881  2017     10  child services    False      3  2017-10-01
349   2009     11  child services    False      2  2009-11-01
1649  2013     11  child services    False      2  2013-11-01
2262  2015     11  child services    False      2  2015-11-01
2902  2017     11  child services    False      5  2017-11-01
1069  2011     12  child services    False      3  2011-12-01
1671  2013     12  child services    False      5  2013-12-01
1953  2014     12  child services    False      1  2014-12-01
2279  2015     12  child services    False      2  2015-12-01
2569  2016     12  child services    False      3  2016-12-01
2926  2017     12  child services    False      4  2017-12-01

[130 rows x 6 columns]

In [56]:
monthly_topics[monthly_topics['topic_desc']=='child services']

      year  month      topic_desc  adopted  bills  month_year
8     2009      1  child services    False    259  2009-01-01
402   2010      1  child services    False     26  2010-01-01
748   2011      1  child services    False    305  2011-01-01
749   2011      1  child services     True      1  2011-01-01
1085  2012      1  child services    False     43  2012-01-01
1086  2012      1  child services     True      1  2012-01-01
1351  2013      1  child services    False    360  2013-01-01
1693  2014      1  child services    False     39  2014-01-01
1694  2014      1  child services     True      1  2014-01-01
1964  2015      1  child services    False    393  2015-01-01
2304  2016      1  child services    False     29  2016-01-01
2585  2017      1  child services    False    397  2017-01-01
2958  2018      1  child services    False     51  2018-01-01
47    2009      2  child services    False    166  2009-02-01
440   2010      2  child services    False     17  2010-02-01
441   2010      2  child services     True      1  2010-02-01
790   2011      2  child services    False    120  2011-02-01
1120  2012      2  child services    False     17  2012-02-01
1121  2012      2  child services     True      1  2012-02-01
1393  2013      2  child services    False     97  2013-02-01
1733  2014      2  child services    False     22  2014-02-01
2003  2015      2  child services    False    129  2015-02-01
2004  2015      2  child services     True      1  2015-02-01
2342  2016      2  child services    False     34  2016-02-01
2626  2017      2  child services    False    146  2017-02-01
2995  2018      2  child services    False     20  2018-02-01
84    2009      3  child services    False     83  2009-03-01
85    2009      3  child services     True      6  2009-03-01
479   2010      3  child services    False     33  2010-03-01
480   2010      3  child services     True      2  2010-03-01
...    ...    ...             ...      ...    ...         ...
664   2010      8  child services    False      1  2010-08-01
996   2011      8  child services    False      2  2011-08-01
1594  2013      8  child services    False      3  2013-08-01
1927  2014      8  child services    False      2  2014-08-01
2200  2015      8  child services    False      1  2015-08-01
292   2009      9  child services    False      3  2009-09-01
293   2009      9  child services     True      1  2009-09-01
681   2010      9  child services    False      1  2010-09-01
1014  2011      9  child services    False      6  2011-09-01
1323  2012      9  child services    False      1  2012-09-01
1613  2013      9  child services    False      1  2013-09-01
2219  2015      9  child services    False      1  2015-09-01
2854  2017      9  child services    False      1  2017-09-01
321   2009     10  child services    False      4  2009-10-01
700   2010     10  child services    False      1  2010-10-01
1330  2012     10  child services    False      1  2012-10-01
1628  2013     10  child services    False      4  2013-10-01
1942  2014     10  child services    False      2  2014-10-01
2235  2015     10  child services    False      4  2015-10-01
2881  2017     10  child services    False      3  2017-10-01
349   2009     11  child services    False      2  2009-11-01
1649  2013     11  child services    False      2  2013-11-01
2262  2015     11  child services    False      2  2015-11-01
2902  2017     11  child services    False      5  2017-11-01
1069  2011     12  child services    False      3  2011-12-01
1671  2013     12  child services    False      5  2013-12-01
1953  2014     12  child services    False      1  2014-12-01
2279  2015     12  child services    False      2  2015-12-01
2569  2016     12  child services    False      3  2016-12-01
2926  2017     12  child services    False      4  2017-12-01

[130 rows x 6 columns]

In [66]:
topic = 'child services'
year = 2015
month = 6
monthly_topics[(monthly_topics['topic_desc']==topic)&(monthly_topics['year']==year)\
                                   &(monthly_topics['month']==month)]

      year  month      topic_desc  adopted  bills  month_year
2158  2015      6  child services    False     21  2015-06-01
2159  2015      6  child services     True      2  2015-06-01

In [84]:
years = list(set(monthly_topics.year))
months = list(set(monthly_topics.month))
# topics = list(set(monthly_topics.topic_desc))
topics = ['child services']
pct_adopted = {}
indx = 0
for topic in topics:
#     print("*"*50)
#     print(f"Topic: {topic}")
    for year in years:
#         print(f"Year {year}")
        for month in months:
            indx += 1
#             print(f"month: {month}")
            mini_group = monthly_topics[(monthly_topics['topic_desc']==topic)&(monthly_topics['year']==year)\
                                   &(monthly_topics['month']==month)]
            month_year = mini_group.month_year.max()
            
#             print(mini_group)
            try:
                not_adopted = mini_group[mini_group['adopted']==False]['bills'].values[0]
#                 print(f"NOT ADOPTED WORKED: {not_adopted} | type: {type(not_adopted)}")
            except:
                not_adopted = 0
#                 print(f"NOT ADOPTED DIDNT WORKED: {not_adopted} | type: {type(not_adopted)}")
                
            try:
                adopted = mini_group[mini_group['adopted']==True]['bills'].values[0]
            except:
                adopted = 0
                
            try:
                adopted_pct = 100 * adopted/(adopted+not_adopted)
            except:
                adopted_pct = 0
                
            pct_adopted[indx] = { 'topic_desc': topic 
                                 ,'month_year': month_year
                                 , 'adopted_pct': adopted_pct}
pd.DataFrame(pct_adopted)

,1,2,3,4,5,6,7,8,9,10,...,123,124,125,126,127,128,129,130,131,132
adopted_pct,0,0,4.16667,8.33333,0,0,0,0,0,0,...,0,6.12245,0,8.69565,0,0,0,0,0,0
month_year,2016-01-01,2016-02-01,2016-03-01,2016-04-01,2016-05-01,2016-06-01,NaN,NaN,NaN,NaN,...,2015-03-01,2015-04-01,2015-05-01,2015-06-01,NaN,2015-08-01,2015-09-01,2015-10-01,2015-11-01,2015-12-01
topic_desc,child services,child services,child services,child services,child services,child services,child services,child services,child services,child services,...,child services,child services,child services,child services,child services,child services,child services,child services,child services,child services

In [103]:
list(set(monthly_topics.topic_desc))

['scouts',
 'health care',
 'property taxes',
 'taxes',
 'high school athletics honors',
 'environmental',
 'elections',
 'child services',
 'fuel standards',
 'misc',
 'public financing',
 'amendments',
 'charities',
 'retirement systems',
 'honoring firefighters',
 'county taxes',
 'public commissions',
 'utilities',
 'businesses/employees',
 'highways',
 'animals',
 'insurance',
 'alcohol',
 'criminal law',
 'sexual offenders',
 'motor vehicles',
 'education',
 'NY constitution',
 'honoring resolutions',
 'housing policy']

In [104]:
year = 2009
month = 6
exclude_topics = ['high school athletics honors','honoring firefighters','honoring resolutions','scouts']
mini_group = monthly_topics[(monthly_topics['year']==year)\
                       &(monthly_topics['month']==month)&(monthly_topics['adopted']==True)
                        &(~monthly_topics.topic_desc.isin(exclude_topics))]
mini_group
# tot_adopted = mini_group['bills'].sum()
# tot_adopted

     year  month          topic_desc  adopted  bills  month_year
201  2009      6           education     True     16  2009-06-01
203  2009      6           elections     True      2  2009-06-01
205  2009      6       environmental     True      2  2009-06-01
208  2009      6         health care     True      5  2009-06-01
222  2009      6  public commissions     True      2  2009-06-01
225  2009      6  retirement systems     True      1  2009-06-01

In [142]:
years = list(set(monthly_topics.year))
months = list(set(monthly_topics.month))
topics = list(set(monthly_topics.topic_desc))
print(topics)

['scouts', 'health care', 'property taxes', 'taxes', 'high school athletics honors', 'environmental', 'elections', 'child services', 'fuel standards', 'misc', 'public financing', 'amendments', 'charities', 'retirement systems', 'honoring firefighters', 'county taxes', 'public commissions', 'utilities', 'businesses/employees', 'highways', 'animals', 'insurance', 'alcohol', 'criminal law', 'sexual offenders', 'motor vehicles', 'education', 'NY constitution', 'honoring resolutions', 'housing policy']

In [148]:
pct_adopted_month = {}
list_of_dicts = []
indx = 0
exclude_topics = ['high school athletics honors','honoring firefighters','honoring resolutions','scouts']
for year in years:
    for month in months:
        indx += 1
        
        mini_group = monthly_topics[(monthly_topics['year']==year)\
                       &(monthly_topics['month']==month)&(monthly_topics['adopted']==True)
                        &(~monthly_topics.topic_desc.isin(exclude_topics))]
        
        month_year = dt.date(year=year,month=month,day=1)
        
        #total adopted bills in a month/year
        if mini_group['bills'].sum()==0:
            tot_adopted = 1
        else:
            tot_adopted = mini_group['bills'].sum()
            
    
        for topic in topics:
            
            try:
                top_adopted = mini_group[mini_group['topic_desc']==topic]['bills'].values[0]
            except:
                top_adopted = 0 

            pct_adopted = round(100 * top_adopted / tot_adopted ,2)
                

            pct_adopted_month[indx] = {'topic_desc': topic 
                             ,'month_year': month_year
                             , 'adopted_pct': pct_adopted}
            
            list_of_dicts.append(pct_adopted_month[indx])
bill_adopted_by_month = pd.DataFrame(list_of_dicts)
bill_adopted_by_month['month_year'] = pd.to_datetime(bill_adopted_by_month['month_year'])
bill_adopted_by_month

      adopted_pct month_year                    topic_desc
0            0.00 2016-01-01                        scouts
1            5.56 2016-01-01                   health care
2            0.00 2016-01-01                property taxes
3            5.56 2016-01-01                         taxes
4            0.00 2016-01-01  high school athletics honors
5            0.00 2016-01-01                 environmental
6            0.00 2016-01-01                     elections
7            0.00 2016-01-01                child services
8            0.00 2016-01-01                fuel standards
9            0.00 2016-01-01                          misc
10           0.00 2016-01-01              public financing
11           0.00 2016-01-01                    amendments
12           0.00 2016-01-01                     charities
13           0.00 2016-01-01            retirement systems
14           0.00 2016-01-01         honoring firefighters
15           0.00 2016-01-01                  county taxes
16          22.22 2016-01-01            public commissions
17           0.00 2016-01-01                     utilities
18           0.00 2016-01-01          businesses/employees
19           5.56 2016-01-01                      highways
20          16.67 2016-01-01                       animals
21           0.00 2016-01-01                     insurance
22           0.00 2016-01-01                       alcohol
23           0.00 2016-01-01                  criminal law
24           0.00 2016-01-01              sexual offenders
25           0.00 2016-01-01                motor vehicles
26          27.78 2016-01-01                     education
27          16.67 2016-01-01               NY constitution
28           0.00 2016-01-01          honoring resolutions
29           0.00 2016-01-01                housing policy
...           ...        ...                           ...
3930         0.00 2015-12-01                        scouts
3931         0.00 2015-12-01                   health care
3932         0.00 2015-12-01                property taxes
3933         0.00 2015-12-01                         taxes
3934         0.00 2015-12-01  high school athletics honors
3935         0.00 2015-12-01                 environmental
3936         0.00 2015-12-01                     elections
3937         0.00 2015-12-01                child services
3938         0.00 2015-12-01                fuel standards
3939         0.00 2015-12-01                          misc
3940         0.00 2015-12-01              public financing
3941         0.00 2015-12-01                    amendments
3942         0.00 2015-12-01                     charities
3943         0.00 2015-12-01            retirement systems
3944         0.00 2015-12-01         honoring firefighters
3945         0.00 2015-12-01                  county taxes
3946         0.00 2015-12-01            public commissions
3947         0.00 2015-12-01                     utilities
3948         0.00 2015-12-01          businesses/employees
3949         0.00 2015-12-01                      highways
3950         0.00 2015-12-01                       animals
3951         0.00 2015-12-01                     insurance
3952         0.00 2015-12-01                       alcohol
3953         0.00 2015-12-01                  criminal law
3954         0.00 2015-12-01              sexual offenders
3955         0.00 2015-12-01                motor vehicles
3956         0.00 2015-12-01                     education
3957         0.00 2015-12-01               NY constitution
3958         0.00 2015-12-01          honoring resolutions
3959         0.00 2015-12-01                housing policy

[3960 rows x 3 columns]

In [151]:
bill_adopted_by_month[bill_adopted_by_month['month_year']=='2015-06-01']

      adopted_pct month_year                    topic_desc
3750         0.00 2015-06-01                        scouts
3751        19.35 2015-06-01                   health care
3752         0.00 2015-06-01                property taxes
3753         0.00 2015-06-01                         taxes
3754         0.00 2015-06-01  high school athletics honors
3755         6.45 2015-06-01                 environmental
3756         3.23 2015-06-01                     elections
3757         6.45 2015-06-01                child services
3758         0.00 2015-06-01                fuel standards
3759         0.00 2015-06-01                          misc
3760        16.13 2015-06-01              public financing
3761         0.00 2015-06-01                    amendments
3762         0.00 2015-06-01                     charities
3763         0.00 2015-06-01            retirement systems
3764         0.00 2015-06-01         honoring firefighters
3765         0.00 2015-06-01                  county taxes
3766         0.00 2015-06-01            public commissions
3767         0.00 2015-06-01                     utilities
3768         0.00 2015-06-01          businesses/employees
3769         0.00 2015-06-01                      highways
3770         0.00 2015-06-01                       animals
3771         0.00 2015-06-01                     insurance
3772         0.00 2015-06-01                       alcohol
3773         3.23 2015-06-01                  criminal law
3774         0.00 2015-06-01              sexual offenders
3775         0.00 2015-06-01                motor vehicles
3776        41.94 2015-06-01                     education
3777         3.23 2015-06-01               NY constitution
3778         0.00 2015-06-01          honoring resolutions
3779         0.00 2015-06-01                housing policy

In [157]:
pd.to_pickle(bill_adopted_by_month,"/users/brian_newborn/ds/metis/final_project/visualization/bill_adopted_by_month")